h3 {
    text-transform: uppercase;
    background-color: lightgray;
    padding: 10px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 22%;
    margin: 5px;
    border: 1px solid gray;
}

.producto img {
    width: 100%;
}

.producto p {
    margin: 5px auto;
    text-align: center;
}


/* Ejercicio listado de compras */

.productos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.producto2 {
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.producto2 div p:first-child {
    float: left;
}

.producto2 div p:last-child {
    float: right;
}

.producto2 button {}