<!-- <h3>{{titulo}}</h3>
<div class="productos">
    <div class="producto" *ngFor="let producto of productos" (click)="onClick(producto)">
        <img [src]="producto.imgUrl" alt="">
        <p>{{producto.nombre}}</p>
        <p>{{producto.precio}}$</p>
    </div>
</div> -->

<div class="productos2">
    <div class="producto2" *ngFor="let producto of productos; let indice = index;">
        <p>{{ producto.nombre.toUpperCase() }}</p>
        <div>
            <p>Cantidad: {{ producto.cantidad }}</p>
            <p>{{ producto.departamento }}</p>
        </div>
        <button (click)="onClick2(indice)">{{textoBoton}}</button>
    </div>
</div>