.personas {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.persona {
    border: 1px solid black;
    width: 200px;
    padding: 20px;
    margin: 10px;
}