<!-- <ul>
    <li *ngFor="let persona of personas">
        {{persona.nombre}} {{persona.apellido}} - {{persona.edad}}
    </li>
</ul> -->

<button (click)="onClick()">Agregar nueva persona</button>
<div class="personas">
    <div class="persona" *ngFor="let pers of personas">
        <h3>{{pers.nombre}} {{pers.apellido}}</h3>
        <p>{{pers.calle}}</p>
        <p>{{pers.telefono}}</p>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>CALLE</th>
            <th>TELEFONO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pers of personas">
            <td>{{pers.nombre}}</td>
            <td>{{pers.apellido}}</td>
            <td>{{pers.calle}}</td>
            <td>{{pers.telefono}}</td>
        </tr>
    </tbody>
</table>