<div class="lista">
    <div class="tarea" *ngFor="let tarea of tareas; let indice = index;" [ngClass]="{completa: tarea.completa, incompleta: !tarea.completa}">
        <h3>{{tarea.titulo}}</h3>
        <p>{{tarea.descripcion}}</p>
        <button (click)="onClick(tarea)">{{ tarea.completa ? 'INCOMPLETA' : 'COMPLETA' }}</button>
        <button (click)="onClickBorrar(indice)">BORRAR</button>
    </div>
</div>