.container {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
}

.izquierda {
    width: 40%;
}

.derecha {
    width: 60%;
}

h1 {
    text-align: center;
}

.izquierda2 {
    width: 70%;
    padding: 10px;
}

.derecha2 {
    width: 30%;
    padding: 10px;
}

.hover {
    background-color: lightseagreen;
}

.noHover {
    background-color: lightyellow;
}


/* Ejercicio listado objetos */

.container2 {
    width: 60%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row.listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.row.listas div {
    width: 50%;
}