<!-- <app-semaforo></app-semaforo>

<p [ngStyle]="propiedadesParrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, obcaecati!
</p>
<button (click)="cambiaColor('v')">Verde</button>
<button (click)="cambiaColor('r')">Rojo</button>
<button (click)="cambiaColor('a')">Amarillo</button>
<div>
    <input type="text" [(ngModel)]="propiedadesParrafo.color">
</div>
<div>
    <input type="range" min="12" max="200" step="2" (input)="onInput($event)">
</div> -->

<!-- ngIf -->
<!-- <p *ngIf="mostrar then mainBlock; else elseBlock">Contenido del párrafo</p>
<ng-template #mainBlock>
    <p>Contenido del párrafo</p>
</ng-template>
<ng-template #elseBlock>
    <p>Contenido del segundo párrafo</p>
</ng-template> -->


<!-- <p *ngIf="mostrar">Contenido del párrafo</p>
<p *ngIf="!mostrar">Contenido del segundo párrafo</p>
<button (click)="onClickMostrar()">Mostar / Ocultar</button> -->

<!-- <app-bucles></app-bucles> -->

<!-- <app-switch></app-switch> -->

<!-- Ejercicio To-do Complejo -->

<!-- <div class="container">
    <div class="izquierda">
        <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
    </div>
    <div class="derecha">
        <app-lista [tareas]="arrTareas"></app-lista>
    </div>
</div> -->

<!-- Ejercicio Caja Registradora -->

<!-- <h1>Caja Registradora</h1>
<div class="container">
    <div class="izquierda2">
        <app-lista-productos titulo="Comida" [productos]="arrComida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
        <app-lista-productos titulo="Bebida" [productos]="arrBebida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
    </div>
    <div class="derecha2">
        <app-comanda [arrProductos]="productosSeleccionados"></app-comanda>
    </div>
</div> -->

<!-- Directivas personalizadas -->

<!-- <p subrayado [config]="{colorHover: 'yellow', colorNoHover: 'blue'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, labore?</p> -->
<!-- opcion 2
<p [subrayado]="{colorHover: 'yellow', colorNoHover: 'blue'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, labore?</p> -->
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, labore?</p>
<p subrayado [config]="{colorHover: 'red', colorNoHover: 'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, labore?</p> -->

<!-- Ejercicio Lista de Compras -->

<div class="container2">
    <div class="row">
        <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>
    </div>
    <div class="row listas">
        <div>
            <app-lista-productos [productos]="productosSeleccionados" (productoSeleccionado2)="onProductoSeleccionado2($event)" textoBoton="COMPRAR"></app-lista-productos>
        </div>
        <div>
            <app-lista-productos [productos]="productosComprados" (productoSeleccionado2)="onProductoNoSeleccionado2($event)" textoBoton="QUITAR"></app-lista-productos>
        </div>
    </div>
</div>