.formulario {
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* Ejericicio lista de compras */

.formulario2 {
    width: 300px;
}

.form-group2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}