<!-- <div class="formulario">
    <div class="form-group">
        <label> Título </label>
        <input type="text" [(ngModel)]="nuevaTarea.titulo">
    </div>
    <div class="form-group">
        <label> Descripción </label>
        <input type="text" [(ngModel)]="nuevaTarea.descripcion">
    </div>
    <button (click)="onClick()">Enviar</button>
</div> -->

<!-- Ejercicio Lista de la compra -->

<div class="formulario2">
    <div class="form-group2">
        <label> Nombre </label>
        <input type="text" [(ngModel)]="nuevoProducto.nombre">
    </div>
    <div class="form-group2">
        <label> Cantidad {{nuevoProducto.cantidad}} </label>
        <input type="range" min="0" max="15" step="1" [(ngModel)]="nuevoProducto.cantidad">
    </div>
    <div class="form-group2">
        <label> Departamento </label>
        <select [(ngModel)]="nuevoProducto.departamento">
            <option value="carniceria">Carnicería</option>
            <option value="fruteria">Frutería</option>
            <option value="hogar">Hogar</option>
            <option value="panaderia">Panadería</option>
        </select>
    </div>
    <button (click)="onClick2()">Enviar</button>
</div>